.info{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 40px;
  width: 70%;
  max-height: 90vh;
  overflow-y: scroll;
}
.date{
  text-align: center;
  color: #ababab;
}

.title{
  font-size: 32px;
}

@media(max-width: 600px){
  .info{
    width: 60%;
  }
}

@media(max-width: 400px){
  .info{
    padding: 0 2px;
    width: 55%;
  }
  .title{
    font-size: 24px;
  }
}
