.header{
  padding: 10px 15px;
  background-color: #c4c4c4;
  box-shadow: 0 0 1px 1px black;
  margin-bottom: 10px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.buttons{
  display: flex;
  gap: 15px;
  &_menu{
    display: flex;
    flex-direction: column;
    gap: 15px
  }
}

@media(max-width: 600px){
  .header{
    padding:10px;
  }
}

@media(max-width: 500px){
  .buttons{
    display: none;
  }
}