body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
p{
  padding: 0;
  margin: 0;
}
input{
  outline: none;
  border: none;
}
textarea{
  outline: none;
  border: none;
  resize: none;
}
h3{
  margin: 0;
  padding: 0;
}
